<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='spectre.css') }}">

  <title>ZooDB</title>
  <style>header{background-color: #acb3bf}</style>
</head>

<body>
  <form method="POST">
    <div class="container centered">
      <h1>Add Keeper</h1>
      <div class="form-group">
        <label class="form-label" for="input-example-1">Keeper ID</label>
        <input name="keeperid-input" class="form-input" type="text" id="input-example-1" placeholder="Keeper ID">
        <label class="form-label" for="input-example-1">Name</label>
        <input name="name-input" class="form-input" type="text" id="input-example-1" placeholder="Name">
        <label class="form-label" for="input-example-1">Job Title</label>
        <input name="job-input" class="form-input" type="text" id="input-example-1" placeholder="Job Title">

        <label class="form-label" for="input-example-1">Animals</label>
        <select class="form-select" name= "animals-input" value = "">
            {% for rows in animals %}
              <option value="{{rows[0]}}">{{rows[0]}}</option>
            {% endfor %}
          </select>

      </div>
      <button type="submit" class="btn btn-primary" name="submit_button">Submit</button>
</body>
