<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static',filename='spectre.css') }}">

  <title>ZooDB - Animals</title>
  <style>header{background-color: #acb3bf}</style>
</head>

<body>
  <header class="navbar">
    <section class="navbar-section">
      <a href="/" class="navbar-brand mr-2">Home</a>
    </section>
    <section class="navbar-center">
      <a href="/browse_animals" class="btn btn-link">Animals</a>
      <a href="/browse_keepers" class="btn btn-link">Zookeepers</a>
      <a href="/browse_schedule" class="btn btn-link">Feeding Schedule</a>
      <a href="/browse_diets" class="btn btn-link">Diets</a>
      <a href="/browse_instructions" class="btn btn-link">Care Instructions</a>
    </section>
    <section class="navbar-section"></section>
  </header>

  <div class="container centered">
    <h1 class="text-center" style="margin-top: 5%;">Animals</h1>

    <form method="POST">
      <input name="text" class="form-input" type="text" id="input-example-1" placeholder="Search">
      <h5 class="text-center" style="margin-right: 1%; margin-top: .5%;">Search By:</h1>
      <div class="btn-group btn-group-block">
        <button type="submit" class="btn" name="submit_button" value="Animal ID">ID</button>
        <button type="submit" class="btn" name="submit_button" value="Name">Name</button>
        <button type="submit" class="btn" name="submit_button" value="Species">Species</button>
        <button type="submit" class="btn" name="submit_button" value="Habitat">Habitat</button>
        <!-- <button type="submit" class="btn" name="submit_button" value="Keeper">Keeper</button> -->
        <button type="submit" class="btn" name="submit_button" value="Feeding Time">Feeding Time</button>
        <button type="submit" class="btn" name="submit_button" value="Injury">Injury</button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Animal ID</th>
          <th>Name</th>
          <th>Species</th>
          <th>Age</th>
          <th>Habitat</th>
          <th>Injury</th>
          <th>Feeding ID</th>
          <th>Keepers</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for r in rows %}
        <tr class="active">
          <td> {{ r.0 }}</td>
          <td> {{ r[1] }}</td>
          <td> {{ r[2] }}</td>
          <td> {{ r[3] }}</td>
          <td> {{ r[4] }}</td>
          <td> {{ r[5] }}</td>
          <td> {{ r[6] }}</td>
          <td> {{ r[7] }}</td>
          <td>
              <button type="submit" class="btn" value="/rows/{{r[7]}}" onclick="window.location='/animal_update/{{r.0}}'">Update</button>
              <button type="submit" class="btn btn-error" value="/rows/{{r[8]}}" onclick="window.location='/delete_animal/{{r.0}}'">Remove</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div style="margin: 1%;">
      <a href="/add_animal">
        <button class="btn btn-primary">Add Animal</button>
      </a>
    </div>

  </div>



</body>
