<html>
<head><title>Browse Keepers</title></head>

<h3>Current Keepers</h3>
<table border='1'>
    <thead>
        <th>Keeper ID</th>
        <th>Name</th>
        <th>Job Title</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r.0 }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_people/{{r[4]}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_people/{{r[4]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</html>
